<% provide(:title, 'Register') %>
<div class='col-md-6 col-md-offset-3'>
<h1>Student Registration</h1>
<%= render partial: "shared/errors", locals: {errors: @errors} %>

<%= form_with(model: @student, local: true) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:title), class: 'btn btn-primary' %>

<% end %>
</div>