<h1> Edit your resource </h1>

<div>
  <%= form_for(@resource) do |f| %>
    Title:   <%= f.text_field :title %>
    Content: <%= f.text_field :content %>
    Link:    <%= f.text_field :link %>
             <%= f.submit %>
  <% end %>
</div>
