<!-- <img src="/images/desk.jpg" alt="desk"> -->
<% unless teacher_logged_in? || student_logged_in? %>
  <%= image_tag("desk.jpg", :alt => "desk") %>
  <div class="copy"> 
    <p> Academic resources, shared easy.</p>
  </div>
<% end %>

<% if teacher_logged_in? || student_logged_in? %>
<h1> Search Resources </h1>

<!-- how will we input search bar? -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(resources_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Topics", class: "form-control"%>
      <%= submit_tag "Search!", :title => nil, class: "btn btn-primary" %>
      <% end %>

      <% if @resources.blank? %>
        <h4> There are no resources containing your search <%= params[:search] %>.</h4>
      <% end %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div id="searchcontent">
    <% if teacher_logged_in? %>
      <h4>Create a new resource:</h4>
      <%= link_to "New Resource", new_resource_path %>
      <br>
    <% end %>
  <br>
  <!-- <br> -->
    <h4>Available Resources:</h4>
      <ul>
      <% @resources.each do |resource| %>
      <br>
        <div class="each-resource-displayed">
          <li> <%= link_to resource.title, resource_path(resource) %> </li>
          <%= render_with_hashtags(resource.content) %>
        </div>
        <!-- video: 13:12 -->
      <% end %>
      </ul>
      <%end%>
  </div>
</div>
