<h1> <%= @resource.title %> </h1>

<%= @resource.content %>
<%= link_to 'favorite', favorite_path(@resource), method: :post %>


<% if current_teacher %>
  <%= link_to 'edit', edit_resource_path(@resource) %>

  <%= link_to 'delete', [@resource], method: :delete %>
<% end %>

