<h1> <%= @resource.title %> </h1>

<%= @resource.content %>

<!-- add correct logic for teacher users seeing edit and delete buttons -->
  <%= link_to 'edit', edit_resource_path(@resource) %>

  <%= link_to 'delete', [@resource], method: :delete %>

  <%= link_to 'favorite', [@resource] %>

