<div id="searchcontent">
<h1> <%= @resource.title %> </h1>

<%= link_to 'Save resource', favorite_path(@resource), method: :post %>
<br>
<br>
<%= @resource.content %>

<% if current_teacher %>
  <%= link_to 'edit', edit_resource_path(@resource) %>

  <%= link_to 'delete', [@resource], method: :delete %>
<% end %>
</div>