<!DOCTYPE html>
<html>
  <head>
    <title>BallerResources</title>
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "nav">
      <div id = "logo">
        <%= link_to "NIGEL", root_path %>
      </div>
      <div id='nav-links'>
        <% if teacher_logged_in? %>
          <%= link_to current_teacher.username, teacher_path(current_teacher) %>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% elsif student_logged_in? %>
          <%= link_to current_student.username, student_path(current_student) %>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_student_path %>
          <%= link_to "Student Login", student_login_path %>
          <%= link_to "Teacher Login", teacher_login_path %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
